.jumbotron{
    font-family: "Lucida Console", Courier, monospace;
    background-color: teal;
    color: black;
    margin-top: 50px;
}

.footer {
  padding: 10px 10px 0 10px;
  background-color: teal;
  margin-bottom: 0px;
  margin-top:10px;
}

.card-hotel{
  background-color: lightgrey;
  flex: 200px;
  margin-top: 10px;
  margin: 8px;
}

.btn-reserva{
  width: 100%;
  border-radius:0;
}

a{
  color: black;
}

.footer-adress-icon{
  padding-right: 10px;
}

.button-plus{
  padding-left: 18px;
  color: white;
}

.price-stars{
  padding-left: 10px;
}

.card-img-top{
  padding: 5px;
}

.img-banner{
width:25%; 
text-align: center}

.banner{
  background-color: 	rgb(0, 173, 239);
}

.collapsebutton{
  text-align: center;
  padding:2px;
}

.circular--square{
  margin: auto;
  width: 200px;
  height: 250px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-md{
  text-align: justify;
}

.text-center {
  text-align: center;
}

.card-text{
  text-align: justify;
}

.carousel-inner{
  height: 600;
  max-height: 600px;
}

