<div id="carruselControls" class="carrousel slide" data-ride="carrousel">
  <div class="carrousel-inner">
    <div class="carrousel-item active">
      <img class="d-block w-100" src="images/Grave_of_the_Fireflies.jpg" alt="La tumba de las luciérnagas">
    </div>
    <div class="carrousel-item">
      <img class="d-block w-100" src="images/The_Secret_World_of_Arrietty.jpg" alt="Arrietty y el mundo de los diminutos">
    </div>
    <div class="carrousel-item">
      <img class="d-block w-100" src="images/Tales_from_Earthsea.jpg" alt="Cuentos de terramar">
    </div>
  </div>
  <a class="carrouser-control-prev" href="#carrouselControls" role="button" data-slide="prev">
    <span class="carrousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carrouser-control-next" href="#carrouselControls" role="button" data-slide="next">
    <span class="carrousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
